.header {
    position: fixed;
    padding: 20px;
    background-image: url("https://wallpapers.com/images/featured/colorful-abstract-background-rra8u4adw1ubypzl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 98%;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 1;
}

.Content {
    height: 150vh;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 300px;
}

.footer {
    bottom: 0;
    height: 50px;
    padding: 5px;
    width: 100%;
    position: fixed;
    font-size: 25px;
    right: 0;
    text-align: center;
    background-color: rgb(68, 172, 241);
}

.product {
    margin: 20px;
    border: 2px groove rgb(255, 0, 81);
    position: relative;

}

.proname {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 300px;
}